@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.text--error{
    color: red;
    @include type-style("label-02")
}

.grid__column{
    margin: $spacing-03;
    min-height: 84px;
}