@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.setup__heading{
    @include type-style("productive-heading-04")
}

.setup__subheading{
    @include type-style("productive-heading-03")
}

.setup__banner{
    padding-top: $spacing-07;
    padding-bottom: $spacing-06;
}

.setup__tile{
    height: 100%;
}